# Ab excel file ko open krna ka liya 2 options ha 
01. 1 to ye ka pandas ka through kam karain
02. Dosra ye ka ap excel viewer extension  download karain and use klarain and file ko click karain

Now ab jab data import kr lia ha to ap ka kam ha ka data ko clean and saaf karain

# Jab bi notebook banani ha to har notebook banana ka tareeka
How to import dataset in python using pandas library\
Written y: Malik Hasnain Ali\
Date: 23-03-2023\
Email Address: 512yaali@gmail.com

In [2]:
# Step-1
# Importing libraries
import pandas as pd

# Assignment: How to import primary dataset in pandas?

# Abhi ap jab is ko run karain ga to ap ko error aye ga
Then you install this library openpyxl = pip install openpyxl and enter that code in terminal\
Then you run the code

In [6]:
# Step-2
# Reading or Importing dataset
# Agar apki file apka folder ma ni ha then ap us ka path da ga
# And is ki ap na practice krni ha..
df = pd.read_excel("pandas_01_day6.xlsx")
print(df)

    height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

Note: jab bi ap na python ma counting start krni ha to ap na 0 sa start krni ha
Note: Har data ka sar, dharr , and doom hoti ha..

In [7]:
df.head() # ye ha data ka sar

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [8]:
df.tail() # Ye ha data ki dumm # Data ma kitni rows hain is ma ap ye bi check kr sakta

    height  weight favourite_dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [10]:
# Data ka rowa and columns check krna ka liya
df.shape # Run karain and check ka 87 rows and 3 columns ha

(87, 3)

df.shape = is ma run krna ka bad pehla rows ati ha phir column

In [11]:
# Pure data ki information check krna ka liya ka un ki data ki types kia ha
df.info
# Is ko run kr ka kuxh info ni milti

<bound method DataFrame.info of     height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]>

# Assignment: Ka hum agar bracket lagain un ko kia kehta hain & Jo bagair bracket ka hota ha un ko kia kehta hain..

# Assignment: What is Float64, int64 and object?

In [12]:
df.info()
# in this we get specific set of information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite_dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

# Now ab hum na Dtype ma typecasting krni ha which is also called data wrangling