# Jab bi notebook banani ha to har notebook banana ka tareeka
How to import dataset in python using pandas library\
Written y: Malik Hasnain Ali\
Date: 23-03-2023\
Email Address: 512yaali@gmail.com

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("pandas_01_day6.xlsx")

In [4]:
df

    height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]

## View dataframes in python using pandas
Different command aj istemal karain ga

In [5]:

df.head()

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

In [6]:
df.tail()

    height  weight favourite_dish
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     float64
 1   weight          87 non-null     int64
 2   favourite_dish  87 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ KB

# Assignment: Dtype ma jo values ha us ki ap na typecasting krni ha

## Interview Question: Ka Data ki shape kia ha?
### Answer: Data ki shape rows multiply by column ha

In [8]:
# means row and cloumns kitna hain
df.shape

(87, 3)

In [9]:
df.index

RangeIndex(start=0, stop=87, step=1)

### Assignment: () Bracket lagana ma or na lagana ma kia farq ha like agar hum df.column() and df.column ma kia farq ha?

In [10]:
df.columns

Index(['height', 'weight', 'favourite_dish'], dtype='object')

In [11]:
# Usually describe ka function tab lagta ha jab ap ka pass values numerical form ma  hon
df.describe()

           height      weight
count   87.000000   87.000000
mean     9.994943   70.459770
std     25.733916   16.753899
min      5.000000   25.000000
25%      5.300000   60.000000
50%      5.600000   70.000000
75%      5.800000   80.000000
max    178.000000  125.000000

In [12]:
# is function sa data jo ha wo transpose ho jata ha mean ka row column ban jati ha and column rows ban jata ha
df.T # Transpose function

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
height,5.8,6.2,5.9,5.9,5.9,5.3,5.6,5.9,5.1,5.4,...,5.5,5.11,5.3,5.4,5.5,5.4,5.9,5.4,6.2,5.1
weight,101,92,62,95,55,59,50,76,78,68,...,85,72,62,55,52,55,75,61,68,96
favourite_dish,Chicken Pulao,Biryani,Karahi Ghosht,Chicken Pulao,Chicken Pulao,Biryani,Pasta,Biryani,Biryani,Biryani,...,Biryani,Karahi Ghosht,Biryani,Pasta,Karahi Ghosht,Pasta,Karahi Ghosht,Biryani,Chicken Pulao,Biryani

In [13]:
df.sort_index(ascending=False) # Mean chota sa bare ma jana

    height  weight favourite_dish
86     5.1      96        Biryani
85     6.2      68  Chicken Pulao
84     5.4      61        Biryani
83     5.9      75  Karahi Ghosht
82     5.4      55          Pasta
..     ...     ...            ...
4      5.9      55  Chicken Pulao
3      5.9      95  Chicken Pulao
2      5.9      62  Karahi Ghosht
1      6.2      92        Biryani
0      5.8     101  Chicken Pulao

[87 rows x 3 columns]

In [14]:
# Agar ap chahta hai ka weight ma decesding go like chota sa bara sort ho jaye
df.sort_values(by="weight")

    height  weight favourite_dish
26     5.0      25        Biryani
35     5.0      31        Biryani
44     5.2      48        Biryani
42     5.6      49  Chicken Pulao
40     5.0      50  Chicken Pulao
..     ...     ...            ...
86     5.1      96        Biryani
0      5.8     101  Chicken Pulao
33     5.1     103    Chapel Kaba
34     6.0     110    Chapel Kaba
75     6.0     125    Chapel Kaba

[87 rows x 3 columns]

# These above function are all about to view the data and see indepth details about data..

#### By the way typecasting wali assignment zaror kaarain

In [16]:
# Means ye null values ko find krna ka liya lagta ha function
# Ka hamara variables ma kitni null values hain..
df.isnull().sum()

height            0
weight            0
favourite_dish    0
dtype: int64

In [17]:
# Ab is function ko run krna ka bad agar kisi jaga True ho that means ka missing values us ma ha..
df.isnull()

    height  weight  favourite_dish
0    False   False           False
1    False   False           False
2    False   False           False
3    False   False           False
4    False   False           False
..     ...     ...             ...
82   False   False           False
83   False   False           False
84   False   False           False
85   False   False           False
86   False   False           False

[87 rows x 3 columns]

In [19]:
# ye function ap ka columns ko total kr ka batey ga and end value da ga
df.sum()

height                                                       869.56
weight                                                         6130
favourite_dish    Chicken PulaoBiryaniKarahi GhoshtChicken Pulao...
dtype: object

In [20]:
df.describe

<bound method NDFrame.describe of     height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]>

In [21]:
df.info

<bound method DataFrame.info of     height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]>